<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>samaneh</title>
</head>
<body>
<div id="navbar" class="ui menu">
  <div id="homepage" class="header item">
    home page
  </div>
  <a id="login" class="item">
    login
  </a>
  <a id="register" class="item">
    register
  </a>
</div>

</body>
</html>