{% extends 'base.html' %}

{% block content %}
    <div class="ui container">
        <form id="login_form" class="ui form" method="post">
            {{ form }}
            {%  csrf_token %}
            <div>
                <button name="submit" style="margin: 10px;" class="ui button blue container">submit</button>
            </div>
            {% if error %}
                <div class="ui container" dir="rtl">
                    مشخصات وارد شده صحیح نمی‌باشند.
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}