{% extends 'base.html' %}
{% block content %}
    <div class="page-login">
        <div style="margin: 10px " class="ui centered grid container">
            <div class="seven wide column">
                <div class="ui fluid card">
                    <div class="content">
                        <form method="POST" class="ui form" id="make_course">
                            {{ form }}
                            {% csrf_token %}
                            <input type="submit" class="ui fluid blue button" value="submit" style="margin-top: 10px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}