{% extends 'base.html' %}

{% block content %}
    <div class="ui centered grid">
        <div style="margin-top: 100px" class="five wide column">
            <div class="ui card">
              <div class="image">
                <img src="/media/kristy.png">
              </div>
              <div class="content">
                  <span id="text_first_name"> {{ first_name }}</span>
                <div class="meta">
                  <span class="date" id="text_last_name"> {{ last_name }}</span>
                </div>
                  <span id="text_user_name"> {{ username }}</span>
              </div>
              <div class="extra content">
                <a href="/setting">
                  <i class="user icon"></i>
                  22 Friends
                </a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}