{% extends 'base.html' %}

{% block content %}
    <div class="ui centered grid">
        <div style="margin-top: 70px" class="five wide column">
            <div class="ui card">
                <div class="image">
                    <img src="/media/kristy.png">
                </div>
                <div class="content">
                    <span id="text_first_name"> {{ first_name }}</span>
                    <div class="meta">
                        <span class="date" id="text_last_name"> {{ last_name }}</span>
                    </div>
                    <span id="text_user_name"> {{ username }}</span>
                </div>
                <div class="extra content">
                    <a href="/setting" id="setting">
                        <i class="cog icon"></i>
                        Settings
                    </a>
                </div>
            </div>
                <div style="margin-top: 10px">

                    {% if flag %}

                        <div style="margin-top: 10px" class="ui success message">
                            <i class="close icon"></i>
                            <div class="header">
                                Your name or last_name changed successful.
                            </div>
                            <p>You can change them again and again</p>
                        </div>
                    {% endif %}
                </div>

        </div>
    </div>
{% endblock %}