{% extends 'base.html' %}

{% block content %}
    <div class="ui card">
  <div class="image">
    <img src="/images/kristy.png">
  </div>
  <div class="content">
      <span id="text_first_name"> {{ first_name }}</span>
    <div class="meta">
      <span class="date" id="text_last_name"> {{ last_name }}</span>
    </div>
      <span id="text_user_name"> {{ username }}</span>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
{% endblock %}