{% extends 'base.html' %}

{% block content %}
    <div class="ui container">
        <form method="POST" class="ui form" id='register_form'>
            {{ form.as_p }}
            {% csrf_token %}

            <button class="ui button blue" name="submit" type="submit"> submit</button>
        </form>
    </div>
    <div class="ui container negative message">
        <div class="ui bulleted list" id="errors">
            {% for error in errors %}
                <div class="item">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}