{% extends 'base.html' %}

{% block content %}
    <div class="page-login">
      <div style="margin: 10px " class="ui centered grid container">
        <div class="seven wide column">
          <div class="ui fluid card">
            <div class="content">
            <form method="POST" class="ui form" id='register_form'>
                {{ form.as_p }}
                {% csrf_token %}
                <div class="ui centered grid container">
                    <div class="five wide column">
                        <button class="ui primary button" name="submit" type="submit"> Sign-up</button>
                    </div>
                </div>
            </form>

                {% if errors %}
                     {% for error in errors %}
                        <ul>
                            {{ error }}
                        </ul>
                     {% endfor %}

                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}